# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

vite.config.*.timestamp*
Diffs.txt
.env

# GraphQL
schema.gql
apps/frontend/src/generated/
apps/backend/src/shared/beatrice/graphql-env.d.ts

# E2E secrets extracted from Docker volume (created by global-setup.ts)
local-setup/pats/
local-setup/logs/
local-setup/client/
local-setup/user-ids/
